@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Inter', sans-serif;
}
.gap-8{
  gap: 5rem;
}
.primaryBG {
 background: #FCFCFC;
}
.icon {
  font-size: 1.2em;
  /* Kích thước biểu tượng */
}

.dark {
  background: black;
  color: #ffff;
}
.themediv{
  z-index: 20001;
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 1rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.py-24 {
  padding-top: 6rem;
  padding-bottom: 2rem;
}
.py-28 {
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.py-16 {
  padding-top: 4rem;
  /* padding-bottom: 4rem; */
}
div.mt-5.md\:mt-2.mx-4 {
  width: 100%;
}
.h-48 {
  height: 14rem;
}
.space-y-7> :not([hidden])~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: 0;
  margin-bottom: calc(1.75rem* var(--tw-space-y-reverse));
}
header, nav{
  z-index: 10001 !important;
}

.subtitle{
  @apply text-mainBG uppercase tracking-wide font-semibold text-lg;
}

.title{
  @apply  text-4xl md:text-5xl md:leading-snug font-bold my-2;
}

.slick-slider {
  /* background-color: aquamarine; */
  /* padding-left: 30px; */
  /* height: 480px !important; */
}
 
button.slick-arrow.slick-prev::before{
  color: #ccc;
}
button.slick-arrow.slick-next::before {
  color: #ccc;
}
.slick-prev {
  z-index: 1;
  /* background-color: red !important; */
}
.slick-next {
  z-index: 1;
  /* background-color: red !important; */
}

.slick-dots li button:before {
  color: rgb(179, 178, 178) !important;
  font-size: 10px !important;
  margin-top: 10px;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  /* font-size: 12px !important; */
}

.heartStar{
  border-radius: 50%;
  z-index: 1;
}

.section-container{
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4
}

/* .footer-title{
  color: black ;
} */

.active{
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #00d3b7;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.5rem;
  color: #00d3b7; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.countdown{
  display: block;
}
.btn-sub{
  background-color: #00d3b7;
  color: #FCFCFC;
}
.menu-horizontal > li:not(.menu-title)>details>ul{
  width: 100%;
}

.icon {
  width: 1.3rem;
  height: 1.3rem;
}
/* comment component */
.comment-section {
}
/* avatar */
.avatar-container {
  width: 50px;
  /* Định kích thước avatar */
  height: 50px;
  overflow: hidden;
  margin-right: 10px;
}
.avatar-container-about {
  width: 100px;
  /* Định kích thước avatar */
  height: 100px;
  overflow: hidden;
  
}
.avatar-container img {
  max-width: 100%;
  max-height: 100%;
}
.avatar-online::before{
  content: "";
    position: absolute;
    display: block;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: var(--fallback-su, oklch(var(--su) / var(--tw-bg-opacity)));
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--fallback-b1, oklch(var(--b1) / 1));
    width: 25%;
    height: 25%;
    top:9%;
    right: 4%;
    
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-info {
    display: flex;
    align-items: center;
}

.comment-input{
  margin-top: 60px;
  position: relative;
  padding: 5px;
}
.avatar-details-container{
padding: 20px;
}
.submit-btn{
  position: absolute;
  right: 0;
}
.drawer-button{
  width: 48px;
  height: 48px;
}
.custom-shadow {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.card-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: var(--padding-card, 1.5rem);
  gap: 0.5rem;
}
.footer{
  position: relative;
  z-index: 1;
}
.form-search{
  width:50% ;
  display: flex;
  flex-direction: column;
}
/* search */
.search-wrap {
  position: relative;
  width: 50%;

}
div.navbar.xl:px-24 {
  padding-left: 6rem;
  padding-right: 5rem;
}
.search-results {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px; */
  position: absolute;
  z-index: 220;
  top: 100%;
}

.search-result {
  margin-top: 5px;
  display: inline-flex;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  background: #fff;
  color: #000;
}

.search-result-container {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 188px;
  margin-left: 12px;
  background: #fff;
  color: #000;
  max-height: 200px;
    /* Thiết lập chiều cao tối đa cho kết quả tìm kiếm */
    overflow-y: auto;
    /* Tạo thanh cuộn khi cần thiết */
}
.search-result img {
  width: 15%;
  height: 35px;
  border-radius: 8px;
}

.search-result p {
  margin: 0;
  font-size: 13px;
  margin-left: 10px;
}
.title-result {
  display: flex;
  align-items: center;
}
/* service */

 .checkoutform table{ 
  border-collapse: collapse;
  width: 100%;
}

.checkoutform th ,
 .checkoutform td {
  border: 1px solid #ccc;
  padding: 8px;
}

.checkoutform th {
  background-color: #f2f2f2;
}
/* checkout */

:root {
  --color-primary: #00d3b7;
  --font-family-base: Poppin, sans-serif;
  --font-size-h1: 1.25rem;
  --font-size-h2: 1rem;
}

/* .checkout body {
  background-color: var(--color-background);
  display: grid;
  font-family: var(--font-family-base);
  line-height: 1.5;
  margin: 0;
  min-block-size:100vh;
  padding: 1.2rem;
  place-items: center;
} */

.checkout address {
  font-style: normal;
}


.checkout fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


.checkout legend {
  font-weight: 600;
  margin-block-end: 0.5em;
  padding: 0;
}

.checkout input {
  border: 0;
  color: inherit;
  font: inherit;
}

.checkout input [type="radio"] {
  accent-color: var(--color-primary);
}

.checkout table {
  border-collapse: collapse;
  inline-size: 100%;
}

.checkout tbody {
  color: #969696;
}

.checkout td {
  padding-block: 0.125em;
}

.checkout tfoot{
  border-top: 1px solid #b4b4b4;
  font-weight: 600;
}


.button-checkout {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 999em;
  color: #fff;
  display: flex;
  gap: 0.5em;
  margin-top: 10px;
  justify-content: center;
  padding-block: 0.75em;
  padding-inline: 1em;
  transition: 0.3s;
  inline-size: 100%;
}

.button-checkout:focus,
.button-checkout:hover {
  background-color: #c4c4c4;
}

.button--full {
  inline-size: 100%;
}

.card-checkout {
  border-radius: 1em;
  background-color: var(--color-primary);
  color: #fff;
  padding: 1em;
}

.form-checkout-page {
  display: grid;
  gap: 1rem;
}

.form__radios {
  margin-top: 5px;
  display: grid;
  gap: 1em;
}

.form__radio {
  align-items: center;
  background-color: #fefdfe;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  display: flex;
  padding: 1em;
}

.form__radio label {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 1em;
  margin-left: 3em;
}

.header-checkout {
  display: flex;
  justify-content: center;
  padding-block: 0.5em;
  padding-inline: 1em;
}

.icon {
  block-size: 1em;
  display: inline-block;
  fill: currentColor;
  inline-size: 1em;
  vertical-align: middle;
}

.checkout {
  background-color: #e6e6e6;
  background-image: linear-gradient(to bottom, #ccf8f9,#f5f5f5 ,#e4fffa);
  border-radius: 2em;
  box-shadow: 0 0 1rem #00000010;
  width: 350px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  min-block-size: 100vh;
  font-size: 14px;
}
.table-cart :where(th, td) {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  vertical-align: middle;
}
.table-cart{
  font-size: 13px;
}
.comment-text {
  max-width: 400px;
  word-wrap: break-word;
  /* Đảm bảo các từ dài tự động xuống dòng */
}
.title-status{
  display: flex;
  align-items: center;
}